
/* =======================FONTS==========================
primary font: Roboto (600 / 400 )
logo font: Raleway (800)

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
==========================COLORS==========================
logo-web-color: #4D5AE5;
logo-studio-color: #2E2F42;
nav-color: #2E2F42;
mail-tel-color: #434455;
main background: #FFFFFF;
hero background: #2E2F42;
hero-h1-color: #FFFFFF;
btn-text-color: #FFFFFF;
btn-background: #4D5AE5;
qualities-section-h3-color: #2E2F42;
qualities-section-p-color: #434455;
3d-section-h2-color: #2E2F42;
4th-section-backgrond: #F4F4FD;
4th-section-h2-color: #2E2F42;
teams-name-h3-color: #2E2F42;
teams-name-p-color: #434455;
footer background: #2E2F42;
footer-p-color: #E7E9FC;
accent-btn: #404BBF;
accent-link:#434455 ;
accent-auth: #4D5AE5;
active-link: #4D5AE5;

*/

body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* ==========================LOGO-HEADER========================== */
.logo-header {
    font-family: 'Raleway', sans-serif;
}

.web-head {
    color: #4D5AE5;
}

.studio-head {
    color: #2E2F42;
    }

/* ==========================NAVIGATION========================== */
.site-nav .link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #434455;
    }

.site-nav .link:active {
    color: #4D5AE5;
}

/* ==========================AUTHORIZATION========================== */
.site-auth .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.site-auth .link:hover,
.site-auth .link:focus {
    color: #4D5AE5;
    }

/* ==========================HERO========================== */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    
    border-radius: 4px;
    border-width: 0;
    
    margin: 0 auto;
    display: block;

    padding: 16px 32px;

    cursor: pointer;
}

.hero-btn:active {
    background-color: #404BBF;
}

/* ==========================QUALITIES========================== */
.qualities-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.qualities-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==========================WORKS========================== */
.works-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/* ==========================TEAM========================== */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-member-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
} 

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==========================LOGO-FOOTER========================== */
.logo-footer {
    font-family: 'Raleway', sans-serif;
}

.web-foot {
    color: #4D5AE5;
}

.studio-foot {
    color:#F4F4FD;
}

/* ==========================FOOTER========================== */
.footer {
    background-color: #2E2F42;;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* ==========================PORTFOLIO-BTN========================== */
.filter-btn {
    font-family: 'Roboto', sans-serif;
    background-color:#F4F4FD;;
    color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.filter-btn:hover,
 .filter-btn:focus{
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.filter-btn:active {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* ==========================PORTFOLIO-PROJECTS========================== */
.project-list h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.project-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}